@model DependentViewModel

<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" readonly />

</div>
<div class="form-group">
    <label asp-for="BirthDate" class="col-form-label"></label>
    <input asp-for="BirthDate" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Age" class="col-form-label"></label>
    <input asp-for="Age" class="form-control" readonly />
</div>
<div class="form-group"> 
    <label asp-for="Gender" class="col-form-label"></label>
    <input asp-for="Gender" class="form-control" readonly />
</div>
<br />
