@model DependentViewModel
@{
    ViewData["Title"] = "Detalis";
}

<h1>Dependents Detalis</h1>
<br />
<br />
<div>
    <partial name="PartialView/DeleteDEtalis" model="Model"></partial>

    
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-success ">Back To List </a>
</div>

