@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}
 
<h1>Delete ROle</h1>
<br />
<br />
<form asp-action="Delete">
    <partial name="RolePartialViews/DeleteDetalisRolePartialView" model="Model"></partial>
    <br />
    <input type="submit" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-success ">Back To List </a>
</form>
