@model UserViewModel
@{
    ViewData["Title"] = "Detalis";
}

<h1>User Detalis</h1>
<br />
<br />
<div>
    <partial name="UserPartialViews/DeleteDetalisUserPartialView" model="Model"></partial>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-success ">Back To List </a>
</div>

